body{
	margin: 0;
}

/* Navigation Bar */

.header {
	display: inline-flex;
	position: fixed;
	top: 0;
	width: 100%;
}

.background{	
	width: 19%;
}

.background img {
	width: 100%;
	height: 100%;
}

ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

li a {
	color: #e63636;
	display: block;
	text-decoration: none;
}

li {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;	
	margin: auto;
	transition: 1.75s;
	
}

.active {
	background-color: #e63636;
}

.active a {
	color: white;
}

.menu img{
	padding: 5px;
	height: 13.400px;
	width: 13.400px;
}

span {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 10px;
}

.first:hover .menu img, .second:hover .menu img {
	-webkit-transform:rotate(90deg);
}

.first, .second, .forms, .about {
	border-top: #e63636 1.5px solid;
}

.forms {
	padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.about {
	height: 20px;
}

.first, .second {
	display: inline-flex;
	width: 100%;
	cursor: pointer;
}
 

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  top: 38px;
  left: 35px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #b10701;
	color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 10px;
}

.menu img{
	padding: 5px;
	height: 13.400px;
	width: 13.400px;
}

.tabs .hover:hover {
	background-color: #bd3939;	
	border-top: #bd3939 1.5px solid;
	border-bottom: #bd3939 1.5px solid;
}

.tabs .tab:hover .b {
	color: white;
}
.tabs .hover:hover .a {
	color: white;	
}	



/* content */

.content {
	display: grid;
	grid-template-columns: 239.600px 1fr 239.600px;
}

.caption {
	background-color: white;
	margin-top: 146px;
	padding: 20px;
	height: 100%;
	font-family: 'Great Vibes', cursive;
}

.caption p {
	font-family: 'Tahoma';
}

.side {
	overflow: hidden;
	height: 100%;
	background-repeat: repeat-y;
    background-image: url("../img/bricks.jpg");
}

.brush, .pressure{
	display: flex;
	margin-left: auto;
	margin-right: auto;	
	padding-top: 30px;
}

.pressure img {
	width: 100%;
}

.brush img {
	height: 500px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
}

.letter {
	display: grid;
	grid-template-columns: auto auto;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.before img, .after img {
	width: 400px;
	height: 200px;
	margin: auto;
}

.before, .after {
	margin-left: auto;
	margin-right: auto;
}

.day {
	margin-bottom: 30px;
}

.insight {
	padding-left: 30px;
}
.word {
	width: 900px;
	height: 400px;
}

.word img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.content {
		display: block;
		width: 100%;
	}
	
	.word {
		width: 100%;
		height: 150px;
	}
	
	.word img {
		width: 100%;
		height: 100%;
	}
	
	.letter {
		display: flex;
	}
	
	.before img, .after img {
		width: 100%;
	}
	
	.brush img {
		width: 100%;
		height: 300px;
	}
	
	.background {
		display: none;
	}
	
	.active, .first {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}